<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% if (typeof curuser != 'undefined' && curuser) { %>
        <div id='header'>
          <p>You are currently logged in as <%= curuser.firstname + " " + curuser.lastname %>. <a href='/logout'>Log out...</a></p>
        </div>
      <% } %>
    <div id='container'>
      <%- body %>
    </div>
  </body>
</html>