<% layout("layout.ejs") %>
<% if(curuser) { %>
  <p>You are already logged in as '<%= curuser.firstname + " " + curuser.lastname %>'.</p>
  <p>Would you like to <a href='/logout'>logout</a>?</p>
<% } else { %>
  <h2>User Login</h2>
  <p>Use the file 'models/userdata.js' to find an accepted username
    and password.</p>
  <hr/>
  <form id='loginform' action='/login' method='post'>
  Username:<br/>
  <input id='username' class='form-field' name='username' type='text'></input><br/>
  Password:<br/>
  <input id='password' class='form-field' name='password' type='password'></input><br/>
  <button class='button'>Login</button>
<% } %>